<div id="popup-container" style="display: none;" class="">
	<input id="fileupload" type="file" name="files[]" multiple style="display: none;">

	<div class="inner content" style="display: none;">
		<div class="row wrapper border-bottom white-bg page-heading" style="margin-left: 0; margin-right: 0;">
			<div class="col-lg-12">
				<h2 class="title"></h2>

				<button style="float: right;" class="btn btn-xs btn-primary btn-outline asset-picker-upload" onclick="$('#fileupload').click();">Upload</button>

				<ol class="breadcrumb">

				</ol>

				<div class="progress progress-striped" style="display: none; width: 700px;">
					<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
				</div>
			</div>
		</div>
		<div class="modal-body">

		</div>
	</div>
	<div class="inner load">
		<div class="modal-body">
			<div class="sk-spinner sk-spinner-three-bounce">
				<div class="sk-bounce1"></div>
				<div class="sk-bounce2"></div>
				<div class="sk-bounce3"></div>
			</div>
		</div>
	</div>
</div>
