{% raw %}
    <div class="my-file" data-id="{{ itm.id }}" style="background-image: url(/pz/asset/image/{{ itm.id }}/cms-list/)">
        <div class="text-center">
            <h4 title="{{ itm.name }}" class="btn btn-xs btn-default">{{ itm.title }}<h4>
        </div>
    </div>
{% endraw %}