{% raw %}
    <tr data-id="{{ itm.id }}" class="folder-row">
        <td>
            <a class="folder" href="#">{{ itm.title }}</a>
        </td>
        <td style="width: 50px;">
            <button type="button" class="btn btn-xs btn-info select"><i class="fa fa-check green"></i></button>
        </td>
    </tr>
{% endraw %}