{% raw %}
    <div class="my-folder" data-id="{{ itm.id }}">
        <div class="text-center">
            <h4 title="{{ itm.title }}" class="btn btn-xs btn-default">{{ itm.title }}</h4>
        </div>
        <div>&nbsp</div>
        <div class="m-b-sm"><a href="/pz/asset/{{ itm.id }}/"><i class="fa fa-folder fa-2x"></i></a></div>
    </div>
{% endraw %}